@font-face
{
    font-family : "Pokemon Classic";
    src : url("/public/fonts/Pokemon\ Classic.ttf");
}

body
{
    font-family: "Pokemon Classic";
}
.card
{
    
    height:100%;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
}
.name
{
    
    grid-column: 1 /span 3;
    display : grid;
    
   
}
.description
{

    grid-column: 4 /span 9;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
 
}
.desc
{
    
    display:flex;
    justify-content: center;
}
.desc >p 
{
  
    align-self: center;
    border: thick double grey;
    border-radius: 5%;
    box-shadow: 3px 5px 0px  black;
}

.evolution
{
 
    display:flex;
    justify-content:center;
    align-items: center;

}
.evolution div
{
    
    width:100%;
    height: 100%;
    text-align: center;
    font-size : 20px;
    
    
}
.evolution div img
{
    width: 50%;
    background:   no-repeat center   url('../../public/images/pokeball.png');
    background-size: 100%;
    
}
.imgPrincipal
{
  
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    background :  no-repeat  right  20% url('/public/images/gameboy.png');
    background-size: 100%;
    border-radius: 10%;
}

.hidden
{
    display : none
}

.details
{
    text-align: center;
    font-size: 10px;
    border: thick double grey;
    border-radius: 5%;
    box-shadow: 8px 8px 20px  black;

}

@media (max-width : 1220px){
    .evolution div {
        font-size: 12px;
    }
}
@media (max-width : 730px){
    .evolution div {
        font-size: 10px;
    }
    .evolution{
        display:grid;
    }

    .desc {
        width: 80%;
        margin-left: 10%;
    }
    .desc >p 
{
  
    align-self: center;
    border: thick double grey;
    border-radius: 5%;
    box-shadow: 3px 5px 0px  black;
    font-size : 10px;
}

}

@media (max-width : 560px){
    .desc {
        
        margin-left: 15%;
    }
}
@media (max-width : 560px){
    .desc {
        
        margin-left: 30%;
        width: 60%;
    }
    .evolution div {
        font-size: 10px;
    }
    .evolution{
        display:grid;
        margin-left:  30%;
    }
}
@media (max-width : 390px){
    .desc {
        
        margin-left: 40%;
        width: 60%;
    }
}